target/
.idea
src/main/resources/credentials.properties
credentials.properties
out/
enactment-engine.iml
.classpath
.project
.settings/
classes/
src/main/java/META-INF/
.gradle
build/
bin/
*.jar
docker/
