target/
.idea
out/
enactment-engine.iml
credentials.properties
mongoDatabase.properties
mariaDatabase.properties
src/main/resources/credentials.properties
.classpath
.project
.settings/
classes/
src/main/java/META-INF/
.gradle
build/
bin/
docker/
